<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="APP_NAME" value="public-notarial-be"/>
    <property name="LOG_PATH" value="${LOG_ROOT:-./logs}/${APP_NAME}"/>
    <property name="ENCODING" value="UTF-8"/>
    <property name="MAX_HISTORY" value="3"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 控制台 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!--info级别的日志打印配置-->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <File>${LOG_PATH}/${APP_NAME}-info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-all-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%logger{36}.%M\(\):%L] - %m%n</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!--error级别的日志打印配置-->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${LOG_PATH}/${APP_NAME}-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-error-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%logger{36}.%M\(\):%L] - %m%n</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>
    <logger name="com.artframework.sample.mappers" additivity="true" level="DEBUG">
        <appender-ref ref="INFO"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
